.text__center {
    text-align: center;
}

.cart__gif {
    border-radius: 50%;
}

.cart__details {
    text-align: center;
}

.cart__totalQuantity {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

.cart__totalPrice {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}