.item__card {
    transition: all 400ms ease;
}

.item__card:hover {
    transition: all 400ms ease;
    transform: scale(105%);
}

.item__agotado {
    background-color: #c4cbd2 !important;
}

.item__agotado img {
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
}